    @import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext');
    * {
        font-family: "Nunito";
    }
    
    body {
        background-color: #f4f5f7;
    }
    
    ///Validation / Register
    .register {
        //Navbar
        .header {
            .bg-custom {
                background-color: #ffff;
                box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
            }
            .navbar {
                button {
                    &:focus {
                        box-shadow: none;
                    }
                }
                .navbar-toggler-icon {
                    margin-top: 0.5rem;
                    align-items: center;
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-decoration: none;
                            color: #121212;
                            font-size: 16px;
                            font-weight: 400;
                            &:hover {
                                color: #5f63f2;
                            }
                        }
                        .active {
                            color: #5f63f2;
                        }
                        .dropdown-menu {
                            border: none;
                            background-color: #121212;
                            animation: showed 0.1s alternate;
                            @keyframes showed {
                                from {
                                    transform: translateY(-1.25rem);
                                }
                            }
                            .dropdown-item {
                                color: #8888;
                                font-size: 16px;
                                font-weight: 400;
                                &:hover {
                                    color: #ffff;
                                    background: none;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-left: 1px solid #8888;
                    padding: 1rem 0;
                    transform: translateX(-1rem);
                }
                .nav-item {
                    button {
                        color: #121212;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        background-color: #121212;
                        animation: showed 0.1s alternate;
                        @keyframes showed {
                            from {
                                transform: translateY(-1.25rem);
                            }
                        }
                        .dropdown-item {
                            color: #8888;
                            i {
                                width: 0.5rem;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            &:hover {
                                color: #ffff;
                                background: none;
                            }
                        }
                        .bg-customize {
                            background: none;
                        }
                    }
                }
            }
        }
        //Form-login
        .form-validation {
            padding: 4rem 0;
            .form-hero {
                text-align: center;
                padding: 2rem 0;
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #8888;
                    a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: #5f63f2;
                    }
                }
            }
            .switch {
                padding: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .type {
                    .checked {
                        background-color: #5f63f2;
                    }
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"]:checked+label {
                        background-color: #5f63f2;
                    }
                    label {
                        display: inline-block;
                        padding: 0.5rem 1.5rem;
                        margin: 0 1rem;
                        background-color: #8888;
                        color: #ffff;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        i {
                            margin-right: 0.5rem;
                        }
                        p {
                            transform: translateY(0.5rem);
                            font-size: 16px;
                            font-weight: 500;
                        }
                        &:hover {
                            background-color: #878af5;
                        }
                    }
                }
            }
            .form-val {
                padding: 0.75rem 0;
                .card {
                    border: none;
                    border-radius: 1rem;
                    width: 29rem;
                    .card-header {
                        border-radius: 1rem;
                        justify-content: center;
                        background: #ffff;
                        border: none;
                        h5 {
                            transform: translateY(0.5rem);
                            text-align: center;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .line {
                            padding: 0.5rem 0;
                            border-bottom: 1.5px solid #f5f5f5;
                        }
                    }
                    .card-body {
                        .basic-form-wrapper {
                            height: auto;
                            form {
                                .form-basic {
                                    .form-group {
                                        padding: 0.25rem 0;
                                        label {
                                            font-size: 16px;
                                            font-weight: 600;
                                            padding: 0.5rem 0;
                                        }
                                        input {
                                            font-size: 13px;
                                            font-weight: 600;
                                            color: #afb6d3;
                                            &:focus {
                                                box-shadow: none;
                                                border: 1.5px solid #5f63f2;
                                            }
                                        }
                                        .form-inline-action {
                                            .checkbox-theme-default {
                                                padding: 0.5rem 0;
                                                .checkbox {
                                                    transform: translateY(0.1rem);
                                                    margin-left: 0.15rem;
                                                    color: #afb6d3;
                                                }
                                                .checkbox-text {
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color: #afb6d3;
                                                }
                                            }
                                            .forgot-pass {
                                                text-decoration: none;
                                                font-size: 14px;
                                                font-weight: 500;
                                                color: #afb6d3;
                                                &:hover {
                                                    color: #5883F4;
                                                }
                                            }
                                        }
                                        button {
                                            font-size: 16px;
                                            width: 100%;
                                            padding: 0.5rem 4rem;
                                            border: none;
                                            background-color: #878af5;
                                            &:hover {
                                                background-color: #5f63f2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //Footer
        .footer {
            background-color: #303030;
            overflow: hidden;
            justify-content: center;
            .footer-head {
                .row {
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #8888;
                    .footer-img {
                        img {
                            width: 7.5rem;
                        }
                    }
                    .footer-socials {
                        transform: translateY(0.75rem);
                        float: right;
                        ul {
                            display: flex;
                            li {
                                list-style: none;
                                padding: 0 0.5rem;
                                i {
                                    color: #8888;
                                    &:hover {
                                        color: #ffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer-link {
                padding: 2rem 0;
                .row {
                    .links {
                        transform: translateX(-1rem);
                        ul {
                            h4 {
                                font-size: 16px;
                                font-weight: 600;
                                color: #ffff;
                            }
                            li {
                                list-style: none;
                                padding: 0.45rem 0;
                                a {
                                    text-decoration: none;
                                    color: #9999;
                                    font-size: 13px;
                                    font-weight: 400;
                                    &:hover {
                                        color: #ffff;
                                        border-bottom: 2px solid #5f63f2;
                                    }
                                }
                            }
                        }
                    }
                    .subscribe {
                        transform: translateY(-0.65rem);
                        padding: 0 1rem;
                        .head-subs {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            color: #ffff;
                            padding: 0.5rem 0;
                            h4 {
                                width: 100%;
                                transform: translateY(0.25rem);
                                padding: 0 0.5rem;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        p {
                            font-size: 13px;
                            font-weight: 600;
                            color: #afb6d3;
                        }
                        .form-subs {
                            display: flex;
                            input {
                                margin-right: 0.25rem;
                                width: 20rem;
                                border: none;
                                background-color: #262626;
                                color: #afb6d3;
                                font-size: 13px;
                                &:focus {
                                    box-shadow: none;
                                    border: 1.5px solid #5f63f2;
                                }
                            }
                            button {
                                background-color: #878af5;
                                color: #ffff;
                                i {
                                    transform: translateY(0.2rem);
                                    width: 2rem;
                                }
                                &:hover {
                                    background-color: #5f63f2;
                                }
                            }
                        }
                    }
                }
            }
            .greeting {
                hr {
                    border: 0.5px solid #8888;
                }
                p {
                    font-size: 13px;
                    font-weight: 400;
                    color: #8888;
                    text-align: center;
                }
            }
        }
    }
    
    /// Validation / Login
    .login {
        //Navbar
        .header {
            .bg-custom {
                background-color: #ffff;
                box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
            }
            .navbar {
                button {
                    &:focus {
                        box-shadow: none;
                    }
                }
                .navbar-toggler-icon {
                    margin-top: 0.5rem;
                    align-items: center;
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-decoration: none;
                            color: #121212;
                            font-size: 16px;
                            font-weight: 400;
                            &:hover {
                                color: #5f63f2;
                            }
                        }
                        .active {
                            color: #5f63f2;
                        }
                        .dropdown-menu {
                            border: none;
                            background-color: #121212;
                            animation: showed 0.1s alternate;
                            @keyframes showed {
                                from {
                                    transform: translateY(-1.25rem);
                                }
                            }
                            .dropdown-item {
                                color: #8888;
                                font-size: 16px;
                                font-weight: 400;
                                &:hover {
                                    color: #ffff;
                                    background: none;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-left: 1px solid #8888;
                    padding: 1rem 0;
                    transform: translateX(-1rem);
                }
                .nav-item {
                    button {
                        color: #121212;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        background-color: #121212;
                        animation: showed 0.1s alternate;
                        @keyframes showed {
                            from {
                                transform: translateY(-1.25rem);
                            }
                        }
                        .dropdown-item {
                            color: #8888;
                            i {
                                width: 0.5rem;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            &:hover {
                                color: #ffff;
                                background: none;
                            }
                        }
                        .bg-customize {
                            background: none;
                        }
                    }
                }
            }
        }
        //Form-login
        .form-validation {
            padding: 4.5rem 0;
            .form-hero {
                text-align: center;
                padding: 2rem 0;
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #8888;
                    a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: #5f63f2;
                    }
                }
            }
            .form-val {
                transform: translateY(-1rem);
                .card {
                    border: none;
                    border-radius: 1rem;
                    width: 29rem;
                    .card-header {
                        border-radius: 1rem;
                        justify-content: center;
                        background: #ffff;
                        border: none;
                        h5 {
                            transform: translateY(0.5rem);
                            text-align: center;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .line {
                            padding: 0.5rem 0;
                            border-bottom: 1.5px solid #f5f5f5;
                        }
                    }
                    .card-body {
                        .basic-form-wrapper {
                            height: auto;
                            form {
                                .form-basic {
                                    .form-group {
                                        padding: 0.25rem 0;
                                        label {
                                            font-size: 16px;
                                            font-weight: 600;
                                            padding: 0.5rem 0;
                                        }
                                        input {
                                            font-size: 13px;
                                            font-weight: 600;
                                            color: #afb6d3;
                                            &:focus {
                                                box-shadow: none;
                                                border: 1.5px solid #5f63f2;
                                            }
                                        }
                                        .form-inline-action {
                                            .checkbox-theme-default {
                                                padding: 0.5rem 0;
                                                .checkbox {
                                                    transform: translateY(0.1rem);
                                                    margin-left: 0.15rem;
                                                    color: #afb6d3;
                                                }
                                                .checkbox-text {
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color: #afb6d3;
                                                }
                                            }
                                            .forgot-pass {
                                                text-decoration: none;
                                                font-size: 14px;
                                                font-weight: 500;
                                                color: #afb6d3;
                                                &:hover {
                                                    color: #5883F4;
                                                }
                                            }
                                        }
                                        button {
                                            font-size: 16px;
                                            width: 100%;
                                            padding: 0.5rem 4rem;
                                            border: none;
                                            background-color: #878af5;
                                            &:hover {
                                                background-color: #5f63f2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //Footer
        .footer {
            background-color: #303030;
            overflow: hidden;
            justify-content: center;
            .footer-head {
                .row {
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #8888;
                    .footer-img {
                        img {
                            width: 7.5rem;
                        }
                    }
                    .footer-socials {
                        transform: translateY(0.75rem);
                        float: right;
                        ul {
                            display: flex;
                            li {
                                list-style: none;
                                padding: 0 0.5rem;
                                i {
                                    color: #8888;
                                    &:hover {
                                        color: #ffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer-link {
                padding: 2rem 0;
                .row {
                    .links {
                        transform: translateX(-1rem);
                        ul {
                            h4 {
                                font-size: 16px;
                                font-weight: 600;
                                color: #ffff;
                            }
                            li {
                                list-style: none;
                                padding: 0.45rem 0;
                                a {
                                    text-decoration: none;
                                    color: #9999;
                                    font-size: 13px;
                                    font-weight: 400;
                                    &:hover {
                                        color: #ffff;
                                        border-bottom: 2px solid #5f63f2;
                                    }
                                }
                            }
                        }
                    }
                    .subscribe {
                        transform: translateY(-0.65rem);
                        padding: 0 1rem;
                        .head-subs {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            color: #ffff;
                            padding: 0.5rem 0;
                            h4 {
                                width: 100%;
                                transform: translateY(0.25rem);
                                padding: 0 0.5rem;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        p {
                            font-size: 13px;
                            font-weight: 600;
                            color: #afb6d3;
                        }
                        .form-subs {
                            display: flex;
                            input {
                                margin-right: 0.25rem;
                                width: 20rem;
                                border: none;
                                background-color: #262626;
                                color: #afb6d3;
                                font-size: 13px;
                                &:focus {
                                    box-shadow: none;
                                    border: 1.5px solid #5f63f2;
                                }
                            }
                            button {
                                background-color: #878af5;
                                color: #ffff;
                                i {
                                    transform: translateY(0.2rem);
                                    width: 2rem;
                                }
                                &:hover {
                                    background-color: #5f63f2;
                                }
                            }
                        }
                    }
                }
            }
            .greeting {
                hr {
                    border: 0.5px solid #8888;
                }
                p {
                    font-size: 13px;
                    font-weight: 400;
                    color: #8888;
                    text-align: center;
                }
            }
        }
    }
    
    /// After-login
    .after-login {
        //Navbar
        .header {
            .bg-custom {
                background-color: #ffff;
                box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
            }
            .navbar {
                button {
                    &:focus {
                        box-shadow: none;
                    }
                }
                .navbar-toggler-icon {
                    margin-top: 0.5rem;
                    align-items: center;
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-decoration: none;
                            color: #121212;
                            font-size: 16px;
                            font-weight: 400;
                            &:hover {
                                color: #5f63f2;
                            }
                        }
                        .active {
                            color: #5f63f2;
                        }
                        .dropdown-menu {
                            border: none;
                            background-color: #121212;
                            animation: showed 0.1s alternate;
                            @keyframes showed {
                                from {
                                    transform: translateY(-1.25rem);
                                }
                            }
                            .dropdown-item {
                                color: #8888;
                                font-size: 16px;
                                font-weight: 400;
                                &:hover {
                                    color: #ffff;
                                    background: none;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-left: 1px solid #8888;
                    padding: 1rem 0;
                    transform: translateX(-1rem);
                }
                .nav-item {
                    button {
                        display: flex;
                        color: #121212;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 2rem;
                            margin: 0 0.5rem;
                        }
                        p {
                            transform: translateY(0.5rem);
                            font-size: 16px;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        background-color: #121212;
                        animation: showed 0.1s alternate;
                        @keyframes showed {
                            from {
                                transform: translateY(-1.25rem);
                            }
                        }
                        .dropdown-item {
                            color: #8888;
                            i {
                                width: 0.5rem;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            &:hover {
                                color: #ffff;
                                background: none;
                            }
                        }
                        .bg-customize {
                            background: none;
                        }
                    }
                }
            }
        }
        //Form-login
        .form-validation {
            padding: 4.5rem 0;
            .form-hero {
                text-align: center;
                padding: 2rem 0;
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #8888;
                    a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: #5f63f2;
                    }
                }
            }
            .form-val {
                transform: translateY(-1rem);
                .card {
                    border: none;
                    border-radius: 1rem;
                    width: 29rem;
                    .card-header {
                        border-radius: 1rem;
                        justify-content: center;
                        background: #ffff;
                        border: none;
                        h5 {
                            transform: translateY(0.5rem);
                            text-align: center;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .line {
                            padding: 0.5rem 0;
                            border-bottom: 1.5px solid #f5f5f5;
                        }
                    }
                    .card-body {
                        .basic-form-wrapper {
                            height: auto;
                            form {
                                .form-basic {
                                    .form-group {
                                        padding: 0.25rem 0;
                                        label {
                                            font-size: 16px;
                                            font-weight: 600;
                                            padding: 0.5rem 0;
                                        }
                                        input {
                                            font-size: 13px;
                                            font-weight: 600;
                                            color: #afb6d3;
                                            &:focus {
                                                box-shadow: none;
                                                border: 1.5px solid #5f63f2;
                                            }
                                        }
                                        .form-inline-action {
                                            .checkbox-theme-default {
                                                padding: 0.5rem 0;
                                                .checkbox {
                                                    transform: translateY(0.1rem);
                                                    margin-left: 0.15rem;
                                                    color: #afb6d3;
                                                }
                                                .checkbox-text {
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color: #afb6d3;
                                                }
                                            }
                                            .forgot-pass {
                                                text-decoration: none;
                                                font-size: 14px;
                                                font-weight: 500;
                                                color: #afb6d3;
                                                &:hover {
                                                    color: #5883F4;
                                                }
                                            }
                                        }
                                        button {
                                            font-size: 16px;
                                            width: 100%;
                                            padding: 0.5rem 4rem;
                                            border: none;
                                            background-color: #878af5;
                                            &:hover {
                                                background-color: #5f63f2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //Footer
        .footer {
            background-color: #303030;
            overflow: hidden;
            justify-content: center;
            .footer-head {
                .row {
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #8888;
                    .footer-img {
                        img {
                            width: 7.5rem;
                        }
                    }
                    .footer-socials {
                        transform: translateY(0.75rem);
                        float: right;
                        ul {
                            display: flex;
                            li {
                                list-style: none;
                                padding: 0 0.5rem;
                                i {
                                    color: #8888;
                                    &:hover {
                                        color: #ffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer-link {
                padding: 2rem 0;
                .row {
                    .links {
                        transform: translateX(-1rem);
                        ul {
                            h4 {
                                font-size: 16px;
                                font-weight: 600;
                                color: #ffff;
                            }
                            li {
                                list-style: none;
                                padding: 0.45rem 0;
                                a {
                                    text-decoration: none;
                                    color: #9999;
                                    font-size: 13px;
                                    font-weight: 400;
                                    &:hover {
                                        color: #ffff;
                                        border-bottom: 2px solid #5f63f2;
                                    }
                                }
                            }
                        }
                    }
                    .subscribe {
                        transform: translateY(-0.65rem);
                        padding: 0 1rem;
                        .head-subs {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            color: #ffff;
                            padding: 0.5rem 0;
                            h4 {
                                width: 100%;
                                transform: translateY(0.25rem);
                                padding: 0 0.5rem;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        p {
                            font-size: 13px;
                            font-weight: 600;
                            color: #afb6d3;
                        }
                        .form-subs {
                            display: flex;
                            input {
                                margin-right: 0.25rem;
                                width: 20rem;
                                border: none;
                                background-color: #262626;
                                color: #afb6d3;
                                font-size: 13px;
                                &:focus {
                                    box-shadow: none;
                                    border: 1.5px solid #5f63f2;
                                }
                            }
                            button {
                                background-color: #878af5;
                                color: #ffff;
                                i {
                                    transform: translateY(0.2rem);
                                    width: 2rem;
                                }
                                &:hover {
                                    background-color: #5f63f2;
                                }
                            }
                        }
                    }
                }
            }
            .greeting {
                hr {
                    border: 0.5px solid #8888;
                }
                p {
                    font-size: 13px;
                    font-weight: 400;
                    color: #8888;
                    text-align: center;
                }
            }
        }
    }
    
    //Landing-Page\
    .home {
        //Navbar
        .header {
            .bg-custom {
                background-color: #ffff;
                box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
                -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
            }
            .navbar {
                button {
                    &:focus {
                        box-shadow: none;
                    }
                }
                .navbar-toggler-icon {
                    margin-top: 0.5rem;
                    align-items: center;
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-decoration: none;
                            color: #121212;
                            font-size: 16px;
                            font-weight: 400;
                            &:hover {
                                color: #5f63f2;
                            }
                        }
                        .active {
                            color: #5f63f2;
                        }
                        .dropdown-menu {
                            border: none;
                            background-color: #121212;
                            animation: showed 0.1s alternate;
                            @keyframes showed {
                                from {
                                    transform: translateY(-1.25rem);
                                }
                            }
                            .dropdown-item {
                                color: #8888;
                                font-size: 16px;
                                font-weight: 400;
                                &:hover {
                                    color: #ffff;
                                    background: none;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-left: 1px solid #8888;
                    padding: 1rem 0;
                    transform: translateX(-1rem);
                }
                .nav-item {
                    button {
                        color: #121212;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        background-color: #121212;
                        animation: showed 0.1s alternate;
                        @keyframes showed {
                            from {
                                transform: translateY(-1.25rem);
                            }
                        }
                        .dropdown-item {
                            color: #8888;
                            i {
                                width: 0.5rem;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            &:hover {
                                color: #ffff;
                                background: none;
                            }
                        }
                        .bg-customize {
                            background: none;
                        }
                    }
                }
            }
        }
        //Content
        .main-hero {
            .parallax-window {
                min-height: 650px;
                background: transparent;
                margin-bottom: 1rem;
                .hero-title {
                    padding-top: 10rem;
                    h3 {
                        font-size: 30px;
                        color: #f5f5f5;
                        font-weight: 600;
                    }
                    p {
                        font-size: 18px;
                        color: #f5f5f5;
                        font-weight: 400;
                        span {
                            color: #5f63f2;
                        }
                    }
                }
                .searched {
                    .row {
                        .col {
                            display: flex;
                            align-items: center;
                            .job-location {
                                .badge {
                                    background-color: #5f63f2;
                                    padding: 0.25rem 0.5rem;
                                    margin: 0.5rem 0;
                                    pointer-events: none;
                                    p {
                                        font-size: 12px;
                                        font-weight: 400;
                                        transform: translateY(0.5rem);
                                    }
                                }
                                .detail {
                                    input {
                                        padding: 0.5rem 1rem;
                                        border-radius: 0.5rem;
                                        background-image: url(/img/location.svg);
                                        background-repeat: no-repeat;
                                        background-size: 1.25rem;
                                        background-position: 0.75rem;
                                        border: none;
                                        padding: 0.75rem 2rem;
                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                    input[placeholder] {
                                        padding-left: 2.5rem;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                                }
                            }
                            //Job-type
                            .job-type {
                                width: auto;
                                .badge {
                                    background-color: #5f63f2;
                                    padding: 0.25rem 0.5rem;
                                    margin: 0.5rem 0;
                                    pointer-events: none;
                                    p {
                                        font-size: 12px;
                                        font-weight: 400;
                                        transform: translateY(0.5rem);
                                    }
                                }
                                .detail {
                                    input {
                                        padding: 0.5rem 1rem;
                                        border-radius: 0.5rem;
                                        background-image: url(/img/job.svg);
                                        background-repeat: no-repeat;
                                        background-size: 1.25rem;
                                        background-position: 0.75rem;
                                        border: none;
                                        padding: 0.75rem 2rem;
                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                    input[placeholder] {
                                        padding-left: 2.5rem;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                                }
                            }
                            .btn-src {
                                button {
                                    margin-top: 3.25rem;
                                    background-color: #878af5;
                                    padding: 0.5rem 1.25rem;
                                    color: #ffff;
                                    font-size: 16px;
                                    &:hover {
                                        background-color: #5f63f2;
                                    }
                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .info {
                    padding-top: 2rem;
                    .row {
                        .col {
                            display: flex;
                            .line {
                                padding: 0 0.5rem;
                            }
                            .jobs {
                                h5 {
                                    font-size: 24px;
                                    font-weight: 600;
                                    color: #ffff;
                                }
                                p {
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #afb6d3;
                                }
                            }
                        }
                    }
                }
            }
        }
        //Jobs
        .featured-jobs {
            padding: 1.5rem 0;
            .fj-hero {
                padding: 1rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5 {
                    font-size: 20px;
                    font-weight: 600;
                }
                a {
                    align-items: center;
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: none;
                    color: #121212;
                    i {
                        font-size: 1rem;
                        transform: translateY(0.15rem);
                    }
                    &:hover {
                        color: #5f63f2;
                    }
                }
            }
            .job-1 {
                text-decoration: none;
                box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                -webkit-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                .company-desc {
                    background-color: #ffff;
                    padding: 0.75rem 0;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    &:hover {
                        border-left: 3px solid #5f63f2;
                    }
                    .images {
                        img {
                            width: 4rem;
                        }
                    }
                    .desc {
                        transform: translateX(-5rem);
                        margin-top: 1.75rem;
                        .title {
                            h5 {
                                color: black;
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                        ul {
                            transform: translateX(-2.25rem);
                            display: flex;
                            list-style: none;
                            li {
                                display: flex;
                                color: #8888;
                                i {
                                    margin-right: 0.5rem;
                                    font-size: 1rem;
                                }
                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            .job-2 {
                text-decoration: none;
                box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                -webkit-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
                .company-desc {
                    background-color: #fafafa;
                    padding: 0.75rem 0;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    &:hover {
                        border-left: 3px solid #5f63f2;
                    }
                    .images {
                        img {
                            width: 4rem;
                        }
                    }
                    .desc {
                        transform: translateX(-5rem);
                        margin-top: 1.75rem;
                        .title {
                            h5 {
                                color: black;
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                        ul {
                            transform: translateX(-2.25rem);
                            display: flex;
                            list-style: none;
                            li {
                                display: flex;
                                color: #8888;
                                i {
                                    margin-right: 0.5rem;
                                    font-size: 1rem;
                                }
                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        //Footer
        .footer {
            background-color: #303030;
            overflow: hidden;
            justify-content: center;
            .footer-head {
                .row {
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #8888;
                    .footer-img {
                        img {
                            width: 7.5rem;
                        }
                    }
                    .footer-socials {
                        transform: translateY(0.75rem);
                        float: right;
                        ul {
                            display: flex;
                            li {
                                list-style: none;
                                padding: 0 0.5rem;
                                i {
                                    color: #8888;
                                    &:hover {
                                        color: #ffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer-link {
                padding: 2rem 0;
                .row {
                    .links {
                        transform: translateX(-1rem);
                        ul {
                            h4 {
                                font-size: 16px;
                                font-weight: 600;
                                color: #ffff;
                            }
                            li {
                                list-style: none;
                                padding: 0.45rem 0;
                                a {
                                    text-decoration: none;
                                    color: #9999;
                                    font-size: 13px;
                                    font-weight: 400;
                                    &:hover {
                                        color: #ffff;
                                        border-bottom: 2px solid #5f63f2;
                                    }
                                }
                            }
                        }
                    }
                    .subscribe {
                        transform: translateY(-0.65rem);
                        padding: 0 1rem;
                        .head-subs {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            color: #ffff;
                            padding: 0.5rem 0;
                            h4 {
                                width: 100%;
                                transform: translateY(0.25rem);
                                padding: 0 0.5rem;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        p {
                            font-size: 13px;
                            font-weight: 600;
                            color: #afb6d3;
                        }
                        .form-subs {
                            display: flex;
                            input {
                                margin-right: 0.25rem;
                                width: 20rem;
                                border: none;
                                background-color: #262626;
                                color: #afb6d3;
                                font-size: 13px;
                                &:focus {
                                    box-shadow: none;
                                    border: 1.5px solid #5f63f2;
                                }
                            }
                            button {
                                background-color: #878af5;
                                color: #ffff;
                                i {
                                    transform: translateY(0.2rem);
                                    width: 2rem;
                                }
                                &:hover {
                                    background-color: #5f63f2;
                                }
                            }
                        }
                    }
                }
            }
            .greeting {
                hr {
                    border: 0.5px solid #8888;
                }
                p {
                    font-size: 13px;
                    font-weight: 400;
                    color: #8888;
                    text-align: center;
                }
            }
        }
    }
    
    ///mobile-version
    @media (max-width: 575.98px) {
        .home {
            .main-hero {
                .parallax-window {
                    transform: translateY(-1rem);
                    .searched {
                        .row {
                            .col {
                                flex-direction: column;
                                display: inline;
                            }
                        }
                    }
                    .info {
                        display: none;
                    }
                }
            }
            .featured-jobs {
                .job-1 {
                    width: auto;
                    .company-desc {
                        .images {
                            margin-left: 0.5rem;
                            width: 2rem;
                        }
                        .desc {
                            display: inline;
                            .title {
                                transform: translateX(7.25rem);
                                h5 {
                                    margin-top: 0.5rem;
                                    font-size: 16px;
                                }
                            }
                            ul {
                                margin-top: 1rem;
                                transform: translateX(5.15rem);
                                display: inline-flex;
                                width: 100%;
                                li {
                                    p {
                                        padding: 0 0.25rem;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        button {
                            display: none;
                        }
                    }
                }
                .job-2 {
                    display: inline;
                    margin: 1rem 0;
                    .company-desc {
                        .images {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .home {
            .main-hero {
                .parallax-window {
                    .searched {
                        .row {
                            .col {
                                flex-direction: column;
                                display: inline;
                            }
                        }
                    }
                    .info {
                        display: none;
                    }
                }
            }
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .home {
            .main-hero {
                .parallax-window {
                    .searched {
                        .row {
                            .col {
                                flex-direction: column;
                                display: inline;
                            }
                        }
                    }
                    .info {
                        display: none;
                    }
                }
            }
        }
    }