@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext");
* {
  font-family: "Nunito";
}

body {
  background-color: #f4f5f7;
}

.register .header .bg-custom {
  background-color: #ffff;
  box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
}

.register .header .navbar button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register .header .navbar .navbar-toggler-icon {
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}

.register .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #5f63f2;
}

.register .header .navbar .navbar-nav .nav-item .active {
  color: #5f63f2;
}

.register .header .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@-webkit-keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.register .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
  font-size: 16px;
  font-weight: 400;
}

.register .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.register .header .navbar .line {
  border-left: 1px solid #8888;
  padding: 1rem 0;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.register .header .navbar .nav-item button {
  color: #121212;
}

.register .header .navbar .nav-item button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register .header .navbar .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.register .header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
}

.register .header .navbar .nav-item .dropdown-menu .dropdown-item i {
  width: 0.5rem;
}

.register .header .navbar .nav-item .dropdown-menu .dropdown-item p {
  font-size: 14px;
  font-weight: 400;
}

.register .header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.register .header .navbar .nav-item .dropdown-menu .bg-customize {
  background: none;
}

.register .form-validation {
  padding: 4rem 0;
}

.register .form-validation .form-hero {
  text-align: center;
  padding: 2rem 0;
}

.register .form-validation .form-hero h4 {
  font-size: 24px;
  font-weight: 600;
}

.register .form-validation .form-hero p {
  font-size: 16px;
  font-weight: 400;
  color: #8888;
}

.register .form-validation .form-hero p a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #5f63f2;
}

.register .form-validation .switch {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .form-validation .switch .type .checked {
  background-color: #5f63f2;
}

.register .form-validation .switch .type input[type="radio"] {
  display: none;
}

.register .form-validation .switch .type input[type="radio"]:checked + label {
  background-color: #5f63f2;
}

.register .form-validation .switch .type label {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  background-color: #8888;
  color: #ffff;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .form-validation .switch .type label i {
  margin-right: 0.5rem;
}

.register .form-validation .switch .type label p {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  font-size: 16px;
  font-weight: 500;
}

.register .form-validation .switch .type label:hover {
  background-color: #878af5;
}

.register .form-validation .form-val {
  padding: 0.75rem 0;
}

.register .form-validation .form-val .card {
  border: none;
  border-radius: 1rem;
  width: 29rem;
}

.register .form-validation .form-val .card .card-header {
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  border: none;
}

.register .form-validation .form-val .card .card-header h5 {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.register .form-validation .form-val .card .card-header .line {
  padding: 0.5rem 0;
  border-bottom: 1.5px solid #f5f5f5;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper {
  height: auto;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group {
  padding: 0.25rem 0;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group label {
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default {
  padding: 0.5rem 0;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  margin-left: 0.15rem;
  color: #afb6d3;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox-text {
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass:hover {
  color: #5883F4;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button {
  font-size: 16px;
  width: 100%;
  padding: 0.5rem 4rem;
  border: none;
  background-color: #878af5;
}

.register .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button:hover {
  background-color: #5f63f2;
}

.register .footer {
  background-color: #303030;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .footer .footer-head .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8888;
}

.register .footer .footer-head .row .footer-img img {
  width: 7.5rem;
}

.register .footer .footer-head .row .footer-socials {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
  float: right;
}

.register .footer .footer-head .row .footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .footer .footer-head .row .footer-socials ul li {
  list-style: none;
  padding: 0 0.5rem;
}

.register .footer .footer-head .row .footer-socials ul li i {
  color: #8888;
}

.register .footer .footer-head .row .footer-socials ul li i:hover {
  color: #ffff;
}

.register .footer .footer-link {
  padding: 2rem 0;
}

.register .footer .footer-link .row .links {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.register .footer .footer-link .row .links ul h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.register .footer .footer-link .row .links ul li {
  list-style: none;
  padding: 0.45rem 0;
}

.register .footer .footer-link .row .links ul li a {
  text-decoration: none;
  color: #9999;
  font-size: 13px;
  font-weight: 400;
}

.register .footer .footer-link .row .links ul li a:hover {
  color: #ffff;
  border-bottom: 2px solid #5f63f2;
}

.register .footer .footer-link .row .subscribe {
  -webkit-transform: translateY(-0.65rem);
          transform: translateY(-0.65rem);
  padding: 0 1rem;
}

.register .footer .footer-link .row .subscribe .head-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  padding: 0.5rem 0;
}

.register .footer .footer-link .row .subscribe .head-subs h4 {
  width: 100%;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
  padding: 0 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

.register .footer .footer-link .row .subscribe p {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.register .footer .footer-link .row .subscribe .form-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .footer .footer-link .row .subscribe .form-subs input {
  margin-right: 0.25rem;
  width: 20rem;
  border: none;
  background-color: #262626;
  color: #afb6d3;
  font-size: 13px;
}

.register .footer .footer-link .row .subscribe .form-subs input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.register .footer .footer-link .row .subscribe .form-subs button {
  background-color: #878af5;
  color: #ffff;
}

.register .footer .footer-link .row .subscribe .form-subs button i {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  width: 2rem;
}

.register .footer .footer-link .row .subscribe .form-subs button:hover {
  background-color: #5f63f2;
}

.register .footer .greeting hr {
  border: 0.5px solid #8888;
}

.register .footer .greeting p {
  font-size: 13px;
  font-weight: 400;
  color: #8888;
  text-align: center;
}

.login .header .bg-custom {
  background-color: #ffff;
  box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
}

.login .header .navbar button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login .header .navbar .navbar-toggler-icon {
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}

.login .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #5f63f2;
}

.login .header .navbar .navbar-nav .nav-item .active {
  color: #5f63f2;
}

.login .header .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.login .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
  font-size: 16px;
  font-weight: 400;
}

.login .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.login .header .navbar .line {
  border-left: 1px solid #8888;
  padding: 1rem 0;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.login .header .navbar .nav-item button {
  color: #121212;
}

.login .header .navbar .nav-item button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login .header .navbar .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.login .header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
}

.login .header .navbar .nav-item .dropdown-menu .dropdown-item i {
  width: 0.5rem;
}

.login .header .navbar .nav-item .dropdown-menu .dropdown-item p {
  font-size: 14px;
  font-weight: 400;
}

.login .header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.login .header .navbar .nav-item .dropdown-menu .bg-customize {
  background: none;
}

.login .form-validation {
  padding: 4.5rem 0;
}

.login .form-validation .form-hero {
  text-align: center;
  padding: 2rem 0;
}

.login .form-validation .form-hero h4 {
  font-size: 24px;
  font-weight: 600;
}

.login .form-validation .form-hero p {
  font-size: 16px;
  font-weight: 400;
  color: #8888;
}

.login .form-validation .form-hero p a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #5f63f2;
}

.login .form-validation .form-val {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.login .form-validation .form-val .card {
  border: none;
  border-radius: 1rem;
  width: 29rem;
}

.login .form-validation .form-val .card .card-header {
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  border: none;
}

.login .form-validation .form-val .card .card-header h5 {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.login .form-validation .form-val .card .card-header .line {
  padding: 0.5rem 0;
  border-bottom: 1.5px solid #f5f5f5;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper {
  height: auto;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group {
  padding: 0.25rem 0;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group label {
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default {
  padding: 0.5rem 0;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  margin-left: 0.15rem;
  color: #afb6d3;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox-text {
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass:hover {
  color: #5883F4;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button {
  font-size: 16px;
  width: 100%;
  padding: 0.5rem 4rem;
  border: none;
  background-color: #878af5;
}

.login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button:hover {
  background-color: #5f63f2;
}

.login .footer {
  background-color: #303030;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .footer .footer-head .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8888;
}

.login .footer .footer-head .row .footer-img img {
  width: 7.5rem;
}

.login .footer .footer-head .row .footer-socials {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
  float: right;
}

.login .footer .footer-head .row .footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .footer .footer-head .row .footer-socials ul li {
  list-style: none;
  padding: 0 0.5rem;
}

.login .footer .footer-head .row .footer-socials ul li i {
  color: #8888;
}

.login .footer .footer-head .row .footer-socials ul li i:hover {
  color: #ffff;
}

.login .footer .footer-link {
  padding: 2rem 0;
}

.login .footer .footer-link .row .links {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.login .footer .footer-link .row .links ul h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.login .footer .footer-link .row .links ul li {
  list-style: none;
  padding: 0.45rem 0;
}

.login .footer .footer-link .row .links ul li a {
  text-decoration: none;
  color: #9999;
  font-size: 13px;
  font-weight: 400;
}

.login .footer .footer-link .row .links ul li a:hover {
  color: #ffff;
  border-bottom: 2px solid #5f63f2;
}

.login .footer .footer-link .row .subscribe {
  -webkit-transform: translateY(-0.65rem);
          transform: translateY(-0.65rem);
  padding: 0 1rem;
}

.login .footer .footer-link .row .subscribe .head-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  padding: 0.5rem 0;
}

.login .footer .footer-link .row .subscribe .head-subs h4 {
  width: 100%;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
  padding: 0 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

.login .footer .footer-link .row .subscribe p {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.login .footer .footer-link .row .subscribe .form-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .footer .footer-link .row .subscribe .form-subs input {
  margin-right: 0.25rem;
  width: 20rem;
  border: none;
  background-color: #262626;
  color: #afb6d3;
  font-size: 13px;
}

.login .footer .footer-link .row .subscribe .form-subs input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.login .footer .footer-link .row .subscribe .form-subs button {
  background-color: #878af5;
  color: #ffff;
}

.login .footer .footer-link .row .subscribe .form-subs button i {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  width: 2rem;
}

.login .footer .footer-link .row .subscribe .form-subs button:hover {
  background-color: #5f63f2;
}

.login .footer .greeting hr {
  border: 0.5px solid #8888;
}

.login .footer .greeting p {
  font-size: 13px;
  font-weight: 400;
  color: #8888;
  text-align: center;
}

.after-login .header .bg-custom {
  background-color: #ffff;
  box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
}

.after-login .header .navbar button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.after-login .header .navbar .navbar-toggler-icon {
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.after-login .header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}

.after-login .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #5f63f2;
}

.after-login .header .navbar .navbar-nav .nav-item .active {
  color: #5f63f2;
}

.after-login .header .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.after-login .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
  font-size: 16px;
  font-weight: 400;
}

.after-login .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.after-login .header .navbar .line {
  border-left: 1px solid #8888;
  padding: 1rem 0;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.after-login .header .navbar .nav-item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #121212;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.after-login .header .navbar .nav-item button img {
  width: 2rem;
  margin: 0 0.5rem;
}

.after-login .header .navbar .nav-item button p {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  font-size: 16px;
}

.after-login .header .navbar .nav-item button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.after-login .header .navbar .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.after-login .header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
}

.after-login .header .navbar .nav-item .dropdown-menu .dropdown-item i {
  width: 0.5rem;
}

.after-login .header .navbar .nav-item .dropdown-menu .dropdown-item p {
  font-size: 14px;
  font-weight: 400;
}

.after-login .header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.after-login .header .navbar .nav-item .dropdown-menu .bg-customize {
  background: none;
}

.after-login .form-validation {
  padding: 4.5rem 0;
}

.after-login .form-validation .form-hero {
  text-align: center;
  padding: 2rem 0;
}

.after-login .form-validation .form-hero h4 {
  font-size: 24px;
  font-weight: 600;
}

.after-login .form-validation .form-hero p {
  font-size: 16px;
  font-weight: 400;
  color: #8888;
}

.after-login .form-validation .form-hero p a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #5f63f2;
}

.after-login .form-validation .form-val {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.after-login .form-validation .form-val .card {
  border: none;
  border-radius: 1rem;
  width: 29rem;
}

.after-login .form-validation .form-val .card .card-header {
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  border: none;
}

.after-login .form-validation .form-val .card .card-header h5 {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.after-login .form-validation .form-val .card .card-header .line {
  padding: 0.5rem 0;
  border-bottom: 1.5px solid #f5f5f5;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper {
  height: auto;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group {
  padding: 0.25rem 0;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group label {
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default {
  padding: 0.5rem 0;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  margin-left: 0.15rem;
  color: #afb6d3;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .checkbox-theme-default .checkbox-text {
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #afb6d3;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group .form-inline-action .forgot-pass:hover {
  color: #5883F4;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button {
  font-size: 16px;
  width: 100%;
  padding: 0.5rem 4rem;
  border: none;
  background-color: #878af5;
}

.after-login .form-validation .form-val .card .card-body .basic-form-wrapper form .form-basic .form-group button:hover {
  background-color: #5f63f2;
}

.after-login .footer {
  background-color: #303030;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-login .footer .footer-head .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8888;
}

.after-login .footer .footer-head .row .footer-img img {
  width: 7.5rem;
}

.after-login .footer .footer-head .row .footer-socials {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
  float: right;
}

.after-login .footer .footer-head .row .footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.after-login .footer .footer-head .row .footer-socials ul li {
  list-style: none;
  padding: 0 0.5rem;
}

.after-login .footer .footer-head .row .footer-socials ul li i {
  color: #8888;
}

.after-login .footer .footer-head .row .footer-socials ul li i:hover {
  color: #ffff;
}

.after-login .footer .footer-link {
  padding: 2rem 0;
}

.after-login .footer .footer-link .row .links {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.after-login .footer .footer-link .row .links ul h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.after-login .footer .footer-link .row .links ul li {
  list-style: none;
  padding: 0.45rem 0;
}

.after-login .footer .footer-link .row .links ul li a {
  text-decoration: none;
  color: #9999;
  font-size: 13px;
  font-weight: 400;
}

.after-login .footer .footer-link .row .links ul li a:hover {
  color: #ffff;
  border-bottom: 2px solid #5f63f2;
}

.after-login .footer .footer-link .row .subscribe {
  -webkit-transform: translateY(-0.65rem);
          transform: translateY(-0.65rem);
  padding: 0 1rem;
}

.after-login .footer .footer-link .row .subscribe .head-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  padding: 0.5rem 0;
}

.after-login .footer .footer-link .row .subscribe .head-subs h4 {
  width: 100%;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
  padding: 0 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

.after-login .footer .footer-link .row .subscribe p {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.after-login .footer .footer-link .row .subscribe .form-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.after-login .footer .footer-link .row .subscribe .form-subs input {
  margin-right: 0.25rem;
  width: 20rem;
  border: none;
  background-color: #262626;
  color: #afb6d3;
  font-size: 13px;
}

.after-login .footer .footer-link .row .subscribe .form-subs input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.after-login .footer .footer-link .row .subscribe .form-subs button {
  background-color: #878af5;
  color: #ffff;
}

.after-login .footer .footer-link .row .subscribe .form-subs button i {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  width: 2rem;
}

.after-login .footer .footer-link .row .subscribe .form-subs button:hover {
  background-color: #5f63f2;
}

.after-login .footer .greeting hr {
  border: 0.5px solid #8888;
}

.after-login .footer .greeting p {
  font-size: 13px;
  font-weight: 400;
  color: #8888;
  text-align: center;
}

.home .header .bg-custom {
  background-color: #ffff;
  box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 6px 12px -11px rgba(0, 0, 0, 0.49);
}

.home .header .navbar button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home .header .navbar .navbar-toggler-icon {
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}

.home .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #5f63f2;
}

.home .header .navbar .navbar-nav .nav-item .active {
  color: #5f63f2;
}

.home .header .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.home .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
  font-size: 16px;
  font-weight: 400;
}

.home .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.home .header .navbar .line {
  border-left: 1px solid #8888;
  padding: 1rem 0;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.home .header .navbar .nav-item button {
  color: #121212;
}

.home .header .navbar .nav-item button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home .header .navbar .nav-item .dropdown-menu {
  border: none;
  background-color: #121212;
  -webkit-animation: showed 0.1s alternate;
          animation: showed 0.1s alternate;
}

@keyframes showed {
  from {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.home .header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #8888;
}

.home .header .navbar .nav-item .dropdown-menu .dropdown-item i {
  width: 0.5rem;
}

.home .header .navbar .nav-item .dropdown-menu .dropdown-item p {
  font-size: 14px;
  font-weight: 400;
}

.home .header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffff;
  background: none;
}

.home .header .navbar .nav-item .dropdown-menu .bg-customize {
  background: none;
}

.home .main-hero .parallax-window {
  min-height: 650px;
  background: transparent;
  margin-bottom: 1rem;
}

.home .main-hero .parallax-window .hero-title {
  padding-top: 10rem;
}

.home .main-hero .parallax-window .hero-title h3 {
  font-size: 30px;
  color: #f5f5f5;
  font-weight: 600;
}

.home .main-hero .parallax-window .hero-title p {
  font-size: 18px;
  color: #f5f5f5;
  font-weight: 400;
}

.home .main-hero .parallax-window .hero-title p span {
  color: #5f63f2;
}

.home .main-hero .parallax-window .searched .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .main-hero .parallax-window .searched .row .col .job-location .badge {
  background-color: #5f63f2;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  pointer-events: none;
}

.home .main-hero .parallax-window .searched .row .col .job-location .badge p {
  font-size: 12px;
  font-weight: 400;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.home .main-hero .parallax-window .searched .row .col .job-location .detail input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: 0.75rem;
  border: none;
  padding: 0.75rem 2rem;
}

.home .main-hero .parallax-window .searched .row .col .job-location .detail input:focus {
  outline: none;
}

.home .main-hero .parallax-window .searched .row .col .job-location .detail input[placeholder] {
  padding-left: 2.5rem;
  font-size: 14px;
  font-weight: 500;
}

.home .main-hero .parallax-window .searched .row .col .job-type {
  width: auto;
}

.home .main-hero .parallax-window .searched .row .col .job-type .badge {
  background-color: #5f63f2;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  pointer-events: none;
}

.home .main-hero .parallax-window .searched .row .col .job-type .badge p {
  font-size: 12px;
  font-weight: 400;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.home .main-hero .parallax-window .searched .row .col .job-type .detail input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-image: url(/img/job.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: 0.75rem;
  border: none;
  padding: 0.75rem 2rem;
}

.home .main-hero .parallax-window .searched .row .col .job-type .detail input:focus {
  outline: none;
}

.home .main-hero .parallax-window .searched .row .col .job-type .detail input[placeholder] {
  padding-left: 2.5rem;
  font-size: 14px;
  font-weight: 500;
}

.home .main-hero .parallax-window .searched .row .col .btn-src button {
  margin-top: 3.25rem;
  background-color: #878af5;
  padding: 0.5rem 1.25rem;
  color: #ffff;
  font-size: 16px;
}

.home .main-hero .parallax-window .searched .row .col .btn-src button:hover {
  background-color: #5f63f2;
}

.home .main-hero .parallax-window .searched .row .col .btn-src button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home .main-hero .parallax-window .info {
  padding-top: 2rem;
}

.home .main-hero .parallax-window .info .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .main-hero .parallax-window .info .row .col .line {
  padding: 0 0.5rem;
}

.home .main-hero .parallax-window .info .row .col .jobs h5 {
  font-size: 24px;
  font-weight: 600;
  color: #ffff;
}

.home .main-hero .parallax-window .info .row .col .jobs p {
  font-size: 16px;
  font-weight: 400;
  color: #afb6d3;
}

.home .featured-jobs {
  padding: 1.5rem 0;
}

.home .featured-jobs .fj-hero {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .featured-jobs .fj-hero h5 {
  font-size: 20px;
  font-weight: 600;
}

.home .featured-jobs .fj-hero a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #121212;
}

.home .featured-jobs .fj-hero a i {
  font-size: 1rem;
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}

.home .featured-jobs .fj-hero a:hover {
  color: #5f63f2;
}

.home .featured-jobs .job-1 {
  text-decoration: none;
  box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
}

.home .featured-jobs .job-1 .company-desc {
  background-color: #ffff;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .featured-jobs .job-1 .company-desc:hover {
  border-left: 3px solid #5f63f2;
}

.home .featured-jobs .job-1 .company-desc .images img {
  width: 4rem;
}

.home .featured-jobs .job-1 .company-desc .desc {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  margin-top: 1.75rem;
}

.home .featured-jobs .job-1 .company-desc .desc .title h5 {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.home .featured-jobs .job-1 .company-desc .desc ul {
  -webkit-transform: translateX(-2.25rem);
          transform: translateX(-2.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home .featured-jobs .job-1 .company-desc .desc ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8888;
}

.home .featured-jobs .job-1 .company-desc .desc ul li i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.home .featured-jobs .job-1 .company-desc .desc ul li p {
  font-size: 14px;
  font-weight: 400;
}

.home .featured-jobs .job-2 {
  text-decoration: none;
  box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 60px -13px rgba(0, 0, 0, 0.6);
}

.home .featured-jobs .job-2 .company-desc {
  background-color: #fafafa;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .featured-jobs .job-2 .company-desc:hover {
  border-left: 3px solid #5f63f2;
}

.home .featured-jobs .job-2 .company-desc .images img {
  width: 4rem;
}

.home .featured-jobs .job-2 .company-desc .desc {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  margin-top: 1.75rem;
}

.home .featured-jobs .job-2 .company-desc .desc .title h5 {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.home .featured-jobs .job-2 .company-desc .desc ul {
  -webkit-transform: translateX(-2.25rem);
          transform: translateX(-2.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home .featured-jobs .job-2 .company-desc .desc ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8888;
}

.home .featured-jobs .job-2 .company-desc .desc ul li i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.home .featured-jobs .job-2 .company-desc .desc ul li p {
  font-size: 14px;
  font-weight: 400;
}

.home .footer {
  background-color: #303030;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .footer .footer-head .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8888;
}

.home .footer .footer-head .row .footer-img img {
  width: 7.5rem;
}

.home .footer .footer-head .row .footer-socials {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
  float: right;
}

.home .footer .footer-head .row .footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .footer .footer-head .row .footer-socials ul li {
  list-style: none;
  padding: 0 0.5rem;
}

.home .footer .footer-head .row .footer-socials ul li i {
  color: #8888;
}

.home .footer .footer-head .row .footer-socials ul li i:hover {
  color: #ffff;
}

.home .footer .footer-link {
  padding: 2rem 0;
}

.home .footer .footer-link .row .links {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.home .footer .footer-link .row .links ul h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.home .footer .footer-link .row .links ul li {
  list-style: none;
  padding: 0.45rem 0;
}

.home .footer .footer-link .row .links ul li a {
  text-decoration: none;
  color: #9999;
  font-size: 13px;
  font-weight: 400;
}

.home .footer .footer-link .row .links ul li a:hover {
  color: #ffff;
  border-bottom: 2px solid #5f63f2;
}

.home .footer .footer-link .row .subscribe {
  -webkit-transform: translateY(-0.65rem);
          transform: translateY(-0.65rem);
  padding: 0 1rem;
}

.home .footer .footer-link .row .subscribe .head-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  padding: 0.5rem 0;
}

.home .footer .footer-link .row .subscribe .head-subs h4 {
  width: 100%;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
  padding: 0 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

.home .footer .footer-link .row .subscribe p {
  font-size: 13px;
  font-weight: 600;
  color: #afb6d3;
}

.home .footer .footer-link .row .subscribe .form-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .footer .footer-link .row .subscribe .form-subs input {
  margin-right: 0.25rem;
  width: 20rem;
  border: none;
  background-color: #262626;
  color: #afb6d3;
  font-size: 13px;
}

.home .footer .footer-link .row .subscribe .form-subs input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #5f63f2;
}

.home .footer .footer-link .row .subscribe .form-subs button {
  background-color: #878af5;
  color: #ffff;
}

.home .footer .footer-link .row .subscribe .form-subs button i {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  width: 2rem;
}

.home .footer .footer-link .row .subscribe .form-subs button:hover {
  background-color: #5f63f2;
}

.home .footer .greeting hr {
  border: 0.5px solid #8888;
}

.home .footer .greeting p {
  font-size: 13px;
  font-weight: 400;
  color: #8888;
  text-align: center;
}

@media (max-width: 575.98px) {
  .home .main-hero .parallax-window {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  .home .main-hero .parallax-window .searched .row .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline;
  }
  .home .main-hero .parallax-window .info {
    display: none;
  }
  .home .featured-jobs .job-1 {
    width: auto;
  }
  .home .featured-jobs .job-1 .company-desc .images {
    margin-left: 0.5rem;
    width: 2rem;
  }
  .home .featured-jobs .job-1 .company-desc .desc {
    display: inline;
  }
  .home .featured-jobs .job-1 .company-desc .desc .title {
    -webkit-transform: translateX(7.25rem);
            transform: translateX(7.25rem);
  }
  .home .featured-jobs .job-1 .company-desc .desc .title h5 {
    margin-top: 0.5rem;
    font-size: 16px;
  }
  .home .featured-jobs .job-1 .company-desc .desc ul {
    margin-top: 1rem;
    -webkit-transform: translateX(5.15rem);
            transform: translateX(5.15rem);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .home .featured-jobs .job-1 .company-desc .desc ul li p {
    padding: 0 0.25rem;
    font-size: 12px;
  }
  .home .featured-jobs .job-1 .company-desc button {
    display: none;
  }
  .home .featured-jobs .job-2 {
    display: inline;
    margin: 1rem 0;
  }
  .home .featured-jobs .job-2 .company-desc .images {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home .main-hero .parallax-window .searched .row .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline;
  }
  .home .main-hero .parallax-window .info {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home .main-hero .parallax-window .searched .row .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline;
  }
  .home .main-hero .parallax-window .info {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */